body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 85vh;
}

#gameDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
}

#joyDiv {
    width:200px;
    height:200px;
    margin-bottom:20px;
    position: absolute;
    bottom: -100px;
    z-index: 100;
}

#fire {
    width: 120px;
    height: 120px;
    background-image: url('../images/shoot.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-bottom:20px;
    position: absolute;
    bottom: -60px;
    right: 50px;
    z-index: 100;
}